.outer-container{
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #F4F5F7;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}

.container{
  display: flex;
    height: 35%;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 30px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F5F7;
  width: 70%;
  border-radius: 12px;
}

hr{
  align-self: center;
  border: 2.5px solid #F4F5F7;
}

@media screen and (max-width:530px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  hr{
    display: none;
  }
  .wrapper{
    width: 100%;
  }
  .wrapper{
    background-color: antiquewhite;
  }
  .container{
    margin-bottom: 40px;
  }
  }
  @media only screen and (max-width: 1300px) and (min-width: 531px){
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    hr{
      display:none;
    }
  }
  
  @media (max-width:1500px) {
    hr{
      display: none;
    }
  }